<footer class="footer">
  <small>
    自然観察記録アプリ(練習用)
    by <a href="https://twitter.com/akokubo">Atushi Kokubo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "アプリについて",  about_path %></li>
      <li><%= link_to "連絡先",         contact_path %></li>
    </ul>
  </nav>
</footer>
